{
  "openapi": "3.0.1",
  "info": {
    "title": "BetterContact API",
    "description": "The official BetterContact API to enrich your leads list",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.bettercontact.rocks/api/v2"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/async": {
      "post": {
        "description": "Create a new enrichment",
        "requestBody": {
          "description": "Data to enrich",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewLeadsEnrichment"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Enrichment task created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "id": {
                      "type": "string",
                      "example": "your-request-id"
                    },
                    "message": {
                      "type": "string",
                      "example": "Processing..."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "NewLeadsEnrichment": {
        "type": "object",
        "properties": {
          "data": {
            "description": "Array of leads to enrich",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "first_name": {
                  "type": "string"
                },
                "last_name": {
                  "type": "string"
                },
                "company": {
                  "type": "string"
                },
                "company_domain": {
                  "type": "string"
                },
                "linkedin_url": {
                  "type": "string"
                },
                "custom_fields": {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string"
                    },
                    "list": {
                      "type": "string"
                    }
                  }
                }
              },
              "required": ["first_name", "last_name", "company"]
            }
          },
          "enrich_email_address": {
            "description": "If true, work email address of the lead will be enriched.",
            "type": "boolean"
          },
          "enrich_phone_number": {
            "description": "If true, direct phone number of the lead will also be enriched. Requires pro plan.",
            "type": "boolean"
          },
          "webhook": {
            "description": "You can provide a webhook URL where results will be pushed once enrichment is done.",
            "type": "string"
          },
          "verify_catch_all": {
            "description": "If true, catch-all email addresses will be verified to avoid risky emails. Requires pro plan.",
            "type": "boolean"
          },
          "process_flow": {
            "description": "Add the process flow ID to use for your enrichment, if subscribed to the process flow add-on.",
            "type": "string"
          }
        },
        "required": ["data", "enrich_email_address"]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
