{
  "openapi": "3.0.1",
  "info": {
    "title": "BetterContact API",
    "description": "The official BetterContact API to enrich your contacts list",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.bettercontact.rocks/api/v2"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/async": {
      "post": {
        "description": "Create a new enrichment",
        "requestBody": {
          "description": "Data to enrich",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewLeadsEnrichment"
              }
              
            }
          }
        },
        "responses": {
          "201": {
            "description": "Enrichment task created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "id": {
                      "type": "string",
                      "example": "your-request-id"
                    },
                    "message": {
                      "type": "string",
                      "example": "Processing..."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/account": {
      "get": {
        "summary": "Check your credits balance",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Credit balance retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "credits_left": {
                      "type": "integer",
                      "example": 32377
                    },
                    "email": {
                      "type": "string",
                      "example": "your_email@mycompany.com"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/async/{request_id}": {
      "get": {
        "summary": "Get enrichment results",
        "description": "Retrieve the enrichment results for a specific request ID",
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Enrichment results retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "fefbc2203558eb3adcea"
                    },
                    "status": {
                      "type": "string",
                      "example": "terminated"
                    },
                    "credits_consumed": {
                      "type": "integer",
                      "example": 1
                    },
                    "credits_left": {
                      "type": "integer",
                      "example": 331
                    },
                    "summary": {
                      "type": "object",
                      "properties": {
                        "total": { "type": "integer", "example": 1 },
                        "valid": { "type": "integer", "example": 1 },
                        "catch_all": { "type": "integer", "example": 0 },
                        "catch_all_safe": { "type": "integer", "example": 0 },
                        "catch_all_not_safe": { "type": "integer", "example": 0 },
                        "undeliverable": { "type": "integer", "example": 0 },
                        "not_found": { "type": "integer", "example": 0 }
                      }
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "enriched": { "type": "boolean", "example": true },
                          "email_provider": { "type": "string", "example": "XXX" },
                          "contact_first_name": { "type": "string", "example": "Elon" },
                          "contact_last_name": { "type": "string", "example": "Musk" },
                          "contact_email_address": { "type": "string", "example": "elon@tesla.com" },
                          "contact_email_address_status": { "type": "string", "example": "deliverable" },
                          "contact_gender": { "type": "string", "example": "male" },
                          "contact_job_title": { "type": "string", "example": "CEO of Tesla" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "406": {
            "description": "Invalid request_id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unvalid request_id."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
  }
},
  "components": {
    "schemas": {
      "NewLeadsEnrichment": {
        "type": "object",
        "properties": {
          "data": {
            "description": "Array of contacts to enrich.",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "first_name": {
                  "type": "string",
                  "description": "First name of the contact"
                },
                "last_name": {
                  "type": "string",
                  "description": "Last name of the contact"
                },
                "company": {
                  "type": "string",
                  "description": "Company name of the contact (not required if company domain is provided)."
                },
                "company_domain": {
                  "type": "string",
                  "description": "Company domain of the contact (required if company name not provided)."
                },
                "linkedin_url": {
                  "type": "string",
                  "description": "Linkedin profile url of the contact (public url is preferred)"
                },
                "custom_fields": {
                  "type": "object",
                  "description": "Can be any relevant data you want to be back in the response like CRM id or unique identifier. The following data (uuid, list_name) is just an example",
                  "properties": {
                    "uuid": {
                      "type": "string"
                    },
                    "list_name": {
                      "type": "string"
                    }
                  }
                }
              },
              "required": ["first_name", "last_name", "company"]
            }
          },
          "enrich_email_address": {
            "description": "If true, work email address of the contact will be enriched.",
            "type": "boolean"
          },
          "enrich_phone_number": {
            "description": "If true, direct phone number of the contact will be enriched.",
            "type": "boolean"
          },
          "webhook": {
            "description": "You can provide a webhook URL where results will be pushed once enrichment is done.",
            "type": "string"
          },
          "process_flow": {
            "description": "Add the process flow ID to use for your enrichment, if subscribed to the process flow add-on.",
            "type": "string"
          }
        },
        "required": ["data", "enrich_email_address","enrich_phone_number"]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}