{
  "openapi": "3.0.1",
  "info": {
    "title": "BetterContact API",
    "description": "The official BetterContact API to enrich your contacts list and find leads",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.bettercontact.rocks/api/v2"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/async": {
      "post": {
        "description": "Create a new enrichment",
        "parameters": [],
        "requestBody": {
          "description": "Data to enrich",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewLeadsEnrichment"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Enrichment task created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "id": {
                      "type": "string",
                      "example": "your-request-id"
                    },
                    "message": {
                      "type": "string",
                      "example": "Processing..."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/lead_finder/async": {
      "post": {
        "description": "Create a new lead finder request to find people working in specific companies",
        "parameters": [],
        "requestBody": {
          "description": "Filters and parameters for lead finding",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadFinderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Lead finder request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Lead finder request accepted."
                    },
                    "request_id": {
                      "type": "string",
                      "example": "bc39ffbfc24cf043b748"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/account": {
      "get": {
        "summary": "Check your credits balance",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Credit balance retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "credits_left": {
                      "type": "integer",
                      "example": 32377
                    },
                    "email": {
                      "type": "string",
                      "example": "your_email@mycompany.com"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/async/{request_id}": {
      "get": {
        "summary": "Get request results",
        "description": "Retrieve the results for a specific request ID (works for both enrichment and lead finder requests)",
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request results retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrichmentResult"
                }
              }
            }
          },
          "401": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "406": {
            "description": "Invalid request_id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unvalid request_id."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/lead_finder/async/{request_id}": {
      "get": {
        "summary": "Get Lead Finder request results",
        "description": "Retrieve the results for a specific request ID",
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request results retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadFinderResult"
                }
              }
            }
          },
          "401": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "406": {
            "description": "Invalid request_id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unvalid request_id."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "schemas": {
      "NewLeadsEnrichment": {
        "type": "object",
        "properties": {
          "data": {
            "description": "Array of leads to enrich. Minimum: 1 lead. Maximum: 100 leads.",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "first_name": {
                  "type": "string",
                  "description": "First name of the contact"
                },
                "last_name": {
                  "type": "string",
                  "description": "Last name of the contact"
                },
                "company": {
                  "type": "string",
                  "description": "Company name of the contact (not required if company domain is provided)."
                },
                "company_domain": {
                  "type": "string",
                  "description": "Company domain of the contact (required if company name not provided)."
                },
                "linkedin_url": {
                  "type": "string",
                  "description": "Linkedin profile url of the contact (public url is required - recommended if phone number enrichment is requested)."
                },
                "custom_fields": {
                  "type": "object",
                  "description": "Can be any relevant data you want to be back in the response like CRM id or unique identifier. The following data (uuid, list_name) is just an example",
                  "properties": {
                    "uuid": {
                      "type": "string"
                    },
                    "list_name": {
                      "type": "string"
                    }
                  }
                }
              },
              "required": ["first_name", "last_name", "company"]
            }
          },
          "enrich_email_address": {
            "description": "If true, work email address of the contact will be enriched.",
            "type": "boolean"
          },
          "enrich_phone_number": {
            "description": "If true, direct phone number of the contact will be enriched.",
            "type": "boolean"
          },
          "webhook": {
            "description": "You can provide a webhook URL where results will be pushed once enrichment is done.",
            "type": "string"
          },
          "process_flow": {
            "description": "Add the process flow ID to use for your enrichment, if subscribed to the process flow add-on.",
            "type": "string"
          }
        },
        "required": ["data", "enrich_email_address", "enrich_phone_number"]
      },
      "LeadFinderRequest": {
        "type": "object",
        "properties": {
          "filters": {
            "$ref": "#/components/schemas/LeadFinderFilters"
          },
          "max_leads": {
            "type": "integer",
            "description": "Maximum number of leads to return",
            "example": 100
          },
          "webhook": {
            "type": "string",
            "nullable": true,
            "description": "Optional URL to receive results automatically"
          }
        },
        "required": ["filters"]
      },
      "LeadFinderFilters": {
        "type": "object",
        "properties": {
          "company": {
            "$ref": "#/components/schemas/CompanyDomainFilter"
          },
          "company_industry": {
            "$ref": "#/components/schemas/CompanyIndustryFilter"
          },
          "company_technology": {
            "$ref": "#/components/schemas/FilterObject"
          },
          "company_headcount_min": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10000000,
            "description": "Minimum employee count"
          },
          "company_headcount_max": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10000000,
            "description": "Maximum employee count"
          },
          "lead_fullname": {
            "$ref": "#/components/schemas/FilterObject"
          },
          "lead_linkedin_url": {
            "$ref": "#/components/schemas/FilterObject"
          },
          "lead_department": {
            "$ref": "#/components/schemas/LeadDepartmentFilter"
          },
          "lead_function": {
            "$ref": "#/components/schemas/LeadFunctionFilter"
          },
          "lead_skills": {
            "$ref": "#/components/schemas/FilterObject"
          },
          "lead_job_title": {
            "$ref": "#/components/schemas/JobTitleFilter"
          },
          "lead_location": {
            "$ref": "#/components/schemas/FilterObject"
          },
          "lead_seniority": {
            "$ref": "#/components/schemas/SeniorityFilter"
          }
        }
      },
      "FilterObject": {
        "type": "object",
        "properties": {
          "include": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "description": "Values that must match"
          },
          "exclude": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "description": "Values that must NOT match"
          }
        }
      },
      "JobTitleFilter": {
        "allOf": [
          {
            "$ref": "#/components/schemas/FilterObject"
          },
          {
            "type": "object",
            "properties": {
              "exact_match": {
                "type": "boolean",
                "description": "When enabled, only exact job title matches are returned"
              }
            }
          }
        ]
      },
      "SeniorityFilter": {
        "type": "object",
        "properties": {
          "include": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["senior", "entry", "manager", "mid-level", "director", "c_suite", "owner", "intern", "founder", "head", "vp", "partner"]
            },
            "nullable": true,
            "description": "Seniority levels that must match. Possible values: senior, entry, manager, mid-level, director, c_suite, owner, intern, founder, head, vp, partner"
          },
          "exclude": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["senior", "entry", "manager", "mid-level", "director", "c_suite", "owner", "intern", "founder", "head", "vp", "partner"]
            },
            "nullable": true,
            "description": "Seniority levels that must NOT match. Possible values: senior, entry, manager, mid-level, director, c_suite, owner, intern, founder, head, vp, partner"
          }
        }
      },
      "CompanyDomainFilter": {
        "type": "object",
        "properties": {
          "include": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "description": "Company domains that must match (e.g. 'google.com', 'microsoft.com')"
          },
          "exclude": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "description": "Company domains that must NOT match (e.g. 'google.com', 'microsoft.com')"
          }
        }
      },
      "CompanyIndustryFilter": {
        "type": "object",
        "properties": {
          "include": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "it services and it consulting",
                "software development",
                "hospitals and health care",
                "financial services",
                "higher education",
                "retail",
                "government administration",
                "banking",
                "construction",
                "business consulting and services",
                "real estate",
                "motor vehicle manufacturing",
                "insurance",
                "truck transportation",
                "advertising services",
                "telecommunications",
                "education administration programs",
                "non-profit organizations",
                "oil and gas",
                "pharmaceutical manufacturing",
                "manufacturing",
                "hospitality",
                "food and beverage services",
                "law practice",
                "industrial machinery manufacturing",
                "utilities",
                "appliances, electrical, and electronics manufacturing",
                "food and beverage manufacturing",
                "wellness and fitness services",
                "research services",
                "primary and secondary education",
                "chemical manufacturing",
                "machinery manufacturing",
                "staffing and recruiting",
                "medical equipment manufacturing",
                "airlines and aviation",
                "defense and space manufacturing",
                "mining",
                "biotechnology research",
                "restaurants",
                "environmental services",
                "accounting",
                "retail apparel and fashion",
                "entertainment providers",
                "civil engineering",
                "wholesale building materials",
                "wholesale",
                "aviation and aerospace component manufacturing",
                "travel arrangements",
                "automation machinery manufacturing",
                "human resources services",
                "renewable energy semiconductor manufacturing",
                "architecture and planning",
                "outsourcing and offshoring consulting",
                "facilities services",
                "semiconductor manufacturing",
                "civic and social organizations",
                "spectator sports",
                "armed forces",
                "design services",
                "consumer services",
                "professional training and coaching",
                "individual and family services",
                "broadcast media production and distribution",
                "mental health care",
                "personal care product manufacturing",
                "farming",
                "technology, information and internet",
                "computers and electronics manufacturing",
                "security and investigations",
                "international trade and development",
                "transportation, logistics, supply chain and storage",
                "media production",
                "events services",
                "medical practices",
                "information services",
                "e-learning providers",
                "computer and network security",
                "packaging and containers manufacturing",
                "textile manufacturing",
                "retail luxury goods and jewelry",
                "furniture and home furnishings manufacturing",
                "book and periodical publishing",
                "law enforcement",
                "computer games",
                "plastics manufacturing",
                "computer hardware manufacturing",
                "public safety",
                "musicians",
                "beverage manufacturing",
                "printing services",
                "public relations and communications services",
                "paper and forest product manufacturing",
                "retail office equipment",
                "venture capital and private equity principals",
                "religious institutions",
                "international affairs",
                "government relations services",
                "freight and package transportation",
                "museums, historical sites, and zoos",
                "market research",
                "newspaper publishing",
                "gambling facilities and casinos",
                "online audio and video media",
                "executive offices",
                "administration of justice",
                "investment banking",
                "legal services",
                "performing arts",
                "glass, ceramics and concrete manufacturing",
                "photography",
                "recreational facilities",
                "graphic design",
                "translation and localization",
                "shipbuilding",
                "maritime transportation",
                "political organizations",
                "artists and writers",
                "animation and post-production",
                "investment management",
                "wholesale import and export",
                "libraries",
                "sporting goods manufacturing",
                "think tanks",
                "railroad equipment manufacturing",
                "writing and editing",
                "veterinary services",
                "retail groceries",
                "fundraising",
                "alternative medicine",
                "leasing non-residential real estate",
                "tobacco manufacturing",
                "movies, videos, and sound",
                "legislative offices",
                "retail art supplies",
                "public policy offices",
                "computer networking products",
                "warehousing and storage",
                "fisheries",
                "philanthropic fundraising services",
                "nanotechnology research",
                "strategic management services",
                "capital markets",
                "dairy product manufacturing",
                "ranching",
                "wireless services",
                "alternative dispute resolution",
                "mobile gaming apps"
              ]
            },
            "nullable": true,
            "description": "Company industries that must match. Must be exact values from the predefined list."
          },
          "exclude": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "it services and it consulting",
                "software development",
                "hospitals and health care",
                "financial services",
                "higher education",
                "retail",
                "government administration",
                "banking",
                "construction",
                "business consulting and services",
                "real estate",
                "motor vehicle manufacturing",
                "insurance",
                "truck transportation",
                "advertising services",
                "telecommunications",
                "education administration programs",
                "non-profit organizations",
                "oil and gas",
                "pharmaceutical manufacturing",
                "manufacturing",
                "hospitality",
                "food and beverage services",
                "law practice",
                "industrial machinery manufacturing",
                "utilities",
                "appliances, electrical, and electronics manufacturing",
                "food and beverage manufacturing",
                "wellness and fitness services",
                "research services",
                "primary and secondary education",
                "chemical manufacturing",
                "machinery manufacturing",
                "staffing and recruiting",
                "medical equipment manufacturing",
                "airlines and aviation",
                "defense and space manufacturing",
                "mining",
                "biotechnology research",
                "restaurants",
                "environmental services",
                "accounting",
                "retail apparel and fashion",
                "entertainment providers",
                "civil engineering",
                "wholesale building materials",
                "wholesale",
                "aviation and aerospace component manufacturing",
                "travel arrangements",
                "automation machinery manufacturing",
                "human resources services",
                "renewable energy semiconductor manufacturing",
                "architecture and planning",
                "outsourcing and offshoring consulting",
                "facilities services",
                "semiconductor manufacturing",
                "civic and social organizations",
                "spectator sports",
                "armed forces",
                "design services",
                "consumer services",
                "professional training and coaching",
                "individual and family services",
                "broadcast media production and distribution",
                "mental health care",
                "personal care product manufacturing",
                "farming",
                "technology, information and internet",
                "computers and electronics manufacturing",
                "security and investigations",
                "international trade and development",
                "transportation, logistics, supply chain and storage",
                "media production",
                "events services",
                "medical practices",
                "information services",
                "e-learning providers",
                "computer and network security",
                "packaging and containers manufacturing",
                "textile manufacturing",
                "retail luxury goods and jewelry",
                "furniture and home furnishings manufacturing",
                "book and periodical publishing",
                "law enforcement",
                "computer games",
                "plastics manufacturing",
                "computer hardware manufacturing",
                "public safety",
                "musicians",
                "beverage manufacturing",
                "printing services",
                "public relations and communications services",
                "paper and forest product manufacturing",
                "retail office equipment",
                "venture capital and private equity principals",
                "religious institutions",
                "international affairs",
                "government relations services",
                "freight and package transportation",
                "museums, historical sites, and zoos",
                "market research",
                "newspaper publishing",
                "gambling facilities and casinos",
                "online audio and video media",
                "executive offices",
                "administration of justice",
                "investment banking",
                "legal services",
                "performing arts",
                "glass, ceramics and concrete manufacturing",
                "photography",
                "recreational facilities",
                "graphic design",
                "translation and localization",
                "shipbuilding",
                "maritime transportation",
                "political organizations",
                "artists and writers",
                "animation and post-production",
                "investment management",
                "wholesale import and export",
                "libraries",
                "sporting goods manufacturing",
                "think tanks",
                "railroad equipment manufacturing",
                "writing and editing",
                "veterinary services",
                "retail groceries",
                "fundraising",
                "alternative medicine",
                "leasing non-residential real estate",
                "tobacco manufacturing",
                "movies, videos, and sound",
                "legislative offices",
                "retail art supplies",
                "public policy offices",
                "computer networking products",
                "warehousing and storage",
                "fisheries",
                "philanthropic fundraising services",
                "nanotechnology research",
                "strategic management services",
                "capital markets",
                "dairy product manufacturing",
                "ranching",
                "wireless services",
                "alternative dispute resolution",
                "mobile gaming apps"
              ]
            },
            "nullable": true,
            "description": "Company industries that must NOT match. Must be exact values from the predefined list."
          }
        }
      },
      "LeadDepartmentFilter": {
        "type": "object",
        "properties": {
          "include": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "operations",
                "executive",
                "sales",
                "engineering_technical",
                "founder",
                "teacher",
                "office_operations",
                "technician",
                "customer_service_support",
                "project_management",
                "finance",
                "information_technology",
                "operations_executive",
                "consultant",
                "store_operations",
                "all_design",
                "software_development",
                "professor",
                "medicine",
                "support_technical_services",
                "marketing",
                "construction",
                "logistics",
                "business_development",
                "accounting",
                "legal",
                "human_resources",
                "finance_executive",
                "account_management",
                "principal",
                "research_development",
                "financial_planning_analysis",
                "nursing",
                "graphic_design",
                "quality_assurance",
                "sales_operations",
                "data_science",
                "facilities_management",
                "medical_administration",
                "compliance",
                "sales_executive",
                "legal_operations",
                "industrial_engineering",
                "governmental_affairs_regulatory_law",
                "it_operations",
                "doctors_physicians",
                "real_estate",
                "social_work",
                "information_security",
                "application_development",
                "digital_marketing",
                "sourcing_procurement",
                "marketing_communications",
                "medical_education_training",
                "health_safety",
                "psychology",
                "recruiting_talent_acquisition",
                "learning_development",
                "infrastructure",
                "corporate_strategy",
                "test_quality_assurance",
                "help_desk_desktop_services",
                "information_technology_executive",
                "customer_success",
                "internal_audit_control",
                "supply_chain",
                "web_development",
                "marketing_operations",
                "product_mangement",
                "product_development",
                "it_strategy",
                "safety",
                "business_intelligence",
                "content_marketing",
                "legal_executive",
                "public_relations",
                "enterprise_architecture",
                "enterprise_resource_planning",
                "social_media_marketing",
                "field_outside_sales",
                "project_program_management",
                "artificial_intelligence_machine_learning",
                "networking",
                "quality_management",
                "chemical_engineering",
                "sales_engineering",
                "physical_security",
                "talent_management",
                "physical_therapy",
                "technology_operations",
                "product_ui_ux_design",
                "medical_health_executive",
                "emerging_technology_innovation",
                "ui_ux",
                "marketing_executive",
                "brand_management",
                "pharmacy",
                "digital_transformation",
                "call_center",
                "medical_research",
                "project_development",
                "public_health",
                "search_engine_optimization_pay_per_click",
                "governance",
                "first_responder",
                "event_marketing",
                "strategic_communications",
                "mechanic",
                "compensation_benefits",
                "customer_experience",
                "mergers_acquisitions",
                "tax",
                "cloud_mobility",
                "database_administration",
                "dentistry",
                "hr_business_partner",
                "shared_services",
                "advertising",
                "partnerships",
                "telecommunications",
                "devops",
                "pathology",
                "financial_risk",
                "legal_counsel",
                "marketing_analytics_insights",
                "lawyer_attorney",
                "nutrition_dietetics",
                "inside_sales",
                "investor_relations",
                "superintendent",
                "servers",
                "mobile_development",
                "ecommerce_development",
                "sales_training",
                "organizational_development",
                "product_marketing",
                "contracts",
                "employee_labor_relations",
                "business_service_management_itsm",
                "radiology",
                "real_estate_finance",
                "human_resource_information_system",
                "human_resources_executive",
                "corporate_secretary",
                "field_marketing",
                "ecommerce_marketing",
                "scrum_master_agile_coach",
                "pediatrics",
                "it_audit_it_compliance",
                "treasury",
                "litigation",
                "data_center",
                "people_operations",
                "clinical_systems",
                "culture_diversity_inclusion",
                "financial_reporting",
                "leasing",
                "it_training",
                "lead_generation",
                "demand_generation",
                "revenue_operations",
                "customer_retention_development",
                "it_asset_management",
                "it_procurement",
                "channel_sales",
                "data_warehouse",
                "oncology",
                "hr_financial_erp_systems",
                "financial_strategy",
                "financial_systems",
                "opthalmology",
                "anesthesiology",
                "psychiatry",
                "orthopedics",
                "bioengineering",
                "obstetrics_gynecology",
                "optometry",
                "intellectual_property_patent",
                "neurology",
                "labor_employment",
                "acquisitions",
                "sales_enablement",
                "dermatology",
                "workforce_mangement",
                "chiropractics",
                "retail_store_systems",
                "customer_marketing",
                "storage_disaster_recovery",
                "technical_marketing",
                "privacy",
                "ediscovery",
                "virtualization",
                "epidemiology",
                "infectious_disease",
                "ethics",
                "biometrics",
                "collaboration_web_app"
              ]
            },
            "nullable": true,
            "description": "Lead departments that must match. Must be exact values from the predefined list."
          },
          "exclude": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "operations",
                "executive",
                "sales",
                "engineering_technical",
                "founder",
                "teacher",
                "office_operations",
                "technician",
                "customer_service_support",
                "project_management",
                "finance",
                "information_technology",
                "operations_executive",
                "consultant",
                "store_operations",
                "all_design",
                "software_development",
                "professor",
                "medicine",
                "support_technical_services",
                "marketing",
                "construction",
                "logistics",
                "business_development",
                "accounting",
                "legal",
                "human_resources",
                "finance_executive",
                "account_management",
                "principal",
                "research_development",
                "financial_planning_analysis",
                "nursing",
                "graphic_design",
                "quality_assurance",
                "sales_operations",
                "data_science",
                "facilities_management",
                "medical_administration",
                "compliance",
                "sales_executive",
                "legal_operations",
                "industrial_engineering",
                "governmental_affairs_regulatory_law",
                "it_operations",
                "doctors_physicians",
                "real_estate",
                "social_work",
                "information_security",
                "application_development",
                "digital_marketing",
                "sourcing_procurement",
                "marketing_communications",
                "medical_education_training",
                "health_safety",
                "psychology",
                "recruiting_talent_acquisition",
                "learning_development",
                "infrastructure",
                "corporate_strategy",
                "test_quality_assurance",
                "help_desk_desktop_services",
                "information_technology_executive",
                "customer_success",
                "internal_audit_control",
                "supply_chain",
                "web_development",
                "marketing_operations",
                "product_mangement",
                "product_development",
                "it_strategy",
                "safety",
                "business_intelligence",
                "content_marketing",
                "legal_executive",
                "public_relations",
                "enterprise_architecture",
                "enterprise_resource_planning",
                "social_media_marketing",
                "field_outside_sales",
                "project_program_management",
                "artificial_intelligence_machine_learning",
                "networking",
                "quality_management",
                "chemical_engineering",
                "sales_engineering",
                "physical_security",
                "talent_management",
                "physical_therapy",
                "technology_operations",
                "product_ui_ux_design",
                "medical_health_executive",
                "emerging_technology_innovation",
                "ui_ux",
                "marketing_executive",
                "brand_management",
                "pharmacy",
                "digital_transformation",
                "call_center",
                "medical_research",
                "project_development",
                "public_health",
                "search_engine_optimization_pay_per_click",
                "governance",
                "first_responder",
                "event_marketing",
                "strategic_communications",
                "mechanic",
                "compensation_benefits",
                "customer_experience",
                "mergers_acquisitions",
                "tax",
                "cloud_mobility",
                "database_administration",
                "dentistry",
                "hr_business_partner",
                "shared_services",
                "advertising",
                "partnerships",
                "telecommunications",
                "devops",
                "pathology",
                "financial_risk",
                "legal_counsel",
                "marketing_analytics_insights",
                "lawyer_attorney",
                "nutrition_dietetics",
                "inside_sales",
                "investor_relations",
                "superintendent",
                "servers",
                "mobile_development",
                "ecommerce_development",
                "sales_training",
                "organizational_development",
                "product_marketing",
                "contracts",
                "employee_labor_relations",
                "business_service_management_itsm",
                "radiology",
                "real_estate_finance",
                "human_resource_information_system",
                "human_resources_executive",
                "corporate_secretary",
                "field_marketing",
                "ecommerce_marketing",
                "scrum_master_agile_coach",
                "pediatrics",
                "it_audit_it_compliance",
                "treasury",
                "litigation",
                "data_center",
                "people_operations",
                "clinical_systems",
                "culture_diversity_inclusion",
                "financial_reporting",
                "leasing",
                "it_training",
                "lead_generation",
                "demand_generation",
                "revenue_operations",
                "customer_retention_development",
                "it_asset_management",
                "it_procurement",
                "channel_sales",
                "data_warehouse",
                "oncology",
                "hr_financial_erp_systems",
                "financial_strategy",
                "financial_systems",
                "opthalmology",
                "anesthesiology",
                "psychiatry",
                "orthopedics",
                "bioengineering",
                "obstetrics_gynecology",
                "optometry",
                "intellectual_property_patent",
                "neurology",
                "labor_employment",
                "acquisitions",
                "sales_enablement",
                "dermatology",
                "workforce_mangement",
                "chiropractics",
                "retail_store_systems",
                "customer_marketing",
                "storage_disaster_recovery",
                "technical_marketing",
                "privacy",
                "ediscovery",
                "virtualization",
                "epidemiology",
                "infectious_disease",
                "ethics",
                "biometrics",
                "collaboration_web_app"
              ]
            },
            "nullable": true,
            "description": "Lead departments that must NOT match. Must be exact values from the predefined list."
          }
        }
      },
      "LeadFunctionFilter": {
        "type": "object",
        "properties": {
          "include": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "operations",
                "support",
                "engineering",
                "sales",
                "education",
                "information_technology",
                "finance",
                "entrepreneurship",
                "administrative",
                "consulting",
                "marketing",
                "arts_and_design",
                "product_management",
                "human_resources",
                "legal",
                "business_development",
                "media_and_communication",
                "data_science",
                "accounting"
              ]
            },
            "nullable": true,
            "description": "Lead functions that must match. Must be exact values from the predefined list."
          },
          "exclude": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "operations",
                "support",
                "engineering",
                "sales",
                "education",
                "information_technology",
                "finance",
                "entrepreneurship",
                "administrative",
                "consulting",
                "marketing",
                "arts_and_design",
                "product_management",
                "human_resources",
                "legal",
                "business_development",
                "media_and_communication",
                "data_science",
                "accounting"
              ]
            },
            "nullable": true,
            "description": "Lead functions that must NOT match. Must be exact values from the predefined list."
          }
        }
      },
      "EnrichmentResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "fefbc2203558eb3adcea"
          },
          "status": {
            "type": "string",
            "example": "terminated"
          },
          "credits_consumed": {
            "type": "integer",
            "example": 1
          },
          "credits_left": {
            "type": "integer",
            "example": 331
          },
          "summary": {
            "type": "object",
            "properties": {
              "total": { "type": "integer", "example": 1 },
              "valid": { "type": "integer", "example": 1 },
              "catch_all": { "type": "integer", "example": 0 },
              "catch_all_safe": { "type": "integer", "example": 0 },
              "catch_all_not_safe": { "type": "integer", "example": 0 },
              "undeliverable": { "type": "integer", "example": 0 },
              "not_found": { "type": "integer", "example": 0 }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "enriched": { "type": "boolean", "example": true },
                "email_provider": { "type": "string", "example": "XXX" },
                "contact_first_name": { "type": "string", "example": "Elon" },
                "contact_last_name": { "type": "string", "example": "Musk" },
                "contact_email_address": { "type": "string", "example": "elon@tesla.com" },
                "contact_email_address_status": { "type": "string", "example": "deliverable", "description": "Available statuses: deliverable, catch_all_safe, catch_all_not_safe, undeliverable" },
                "contact_gender": { "type": "string", "example": "male" },
                "contact_job_title": { "type": "string", "example": "CEO of Tesla" }
              }
            }
          }
        }
      },
      "LeadFinderResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "f4eaa33f3d6fd1d8e1a7"
          },
          "credits_left": {
            "type": "string",
            "example": "993.3"
          },
          "credits_consumed": {
            "type": "string",
            "example": "5.5"
          },
          "status": {
            "type": "string",
            "example": "terminated"
          },
          "summary": {
            "type": "object",
            "properties": {
              "leads_found": {
                "type": "integer",
                "example": 55
              }
            }
          },
          "leads": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LeadObject"
            }
          }
        }
      },
      "LeadObject": {
        "type": "object",
        "properties": {
          "contact_id": {
            "type": "integer",
            "example": 32680300
          },
          "contact_full_name": {
            "type": "string",
            "example": "Frédéric Bonnand"
          },
          "contact_first_name": {
            "type": "string",
            "example": "Frédéric"
          },
          "contact_last_name": {
            "type": "string",
            "example": "Bonnand"
          },
          "contact_job_title": {
            "type": "string",
            "example": "Founder @bettercontact"
          },
          "contact_seniority": {
            "type": "string",
            "example": "Founder"
          },
          "contact_headline": {
            "type": "string",
            "example": "Find emails and phones with bettercontact waterfall enrichment"
          },
          "contact_industry": {
            "type": "string",
            "example": "Information technology & services"
          },
          "contact_linkedin_profile_url": {
            "type": "string",
            "example": "https://www.linkedin.com/in/fbonnand"
          },
          "contact_linkedin_id": {
            "type": "string",
            "nullable": true
          },
          "contact_location_continent": {
            "type": "string",
            "example": "Europe"
          },
          "contact_location_country": {
            "type": "string",
            "example": "France"
          },
          "contact_location_state": {
            "type": "string",
            "nullable": true
          },
          "contact_location_city": {
            "type": "string",
            "nullable": true
          },
          "contact_city": {
            "type": "string",
            "nullable": true
          },
          "contact_location": {
            "type": "string",
            "nullable": true
          },
          "contact_country_code": {
            "type": "string",
            "nullable": true
          },
          "contact_email_address": {
            "type": "string",
            "nullable": true
          },
          "contact_email_address_status": {
            "type": "string",
            "nullable": true
          },
          "contact_email_address_provider": {
            "type": "string",
            "nullable": true
          },
          "contact_phone_number": {
            "type": "string",
            "nullable": true
          },
          "contact_phone_number_cc": {
            "type": "string",
            "nullable": true
          },
          "contact_additional_phone_number": {
            "type": "string",
            "nullable": true
          },
          "contact_avatar": {
            "type": "string",
            "nullable": true
          },
          "contact_gender": {
            "type": "string",
            "nullable": true
          },
          "contact_activity": {
            "type": "string",
            "nullable": true
          },
          "contact_followers": {
            "type": "string",
            "nullable": true
          },
          "contact_connections": {
            "type": "string",
            "nullable": true
          },
          "contact_experience": {
            "type": "string",
            "nullable": true
          },
          "contact_current_company": {
            "type": "string",
            "nullable": true
          },
          "contact_people_also_viewed": {
            "type": "string",
            "nullable": true
          },
          "contact_posts": {
            "type": "string",
            "nullable": true
          },
          "company_id": {
            "type": "string",
            "nullable": true
          },
          "company_name": {
            "type": "string",
            "example": "Bettercontact"
          },
          "company_domain": {
            "type": "string",
            "example": "bettercontact.rocks"
          },
          "company_description": {
            "type": "string",
            "example": "Bettercontact aggregates 20+ premium contact data providers such as people data labs, rocketreach, and datagma into one subscription."
          },
          "company_about": {
            "type": "string",
            "nullable": true
          },
          "company_logo": {
            "type": "string",
            "nullable": true
          },
          "company_image": {
            "type": "string",
            "nullable": true
          },
          "company_size": {
            "type": "string",
            "nullable": true
          },
          "company_linkedin_url": {
            "type": "string",
            "example": "https://www.linkedin.com/company/bettercontact"
          },
          "company_linkedin_id": {
            "type": "string",
            "nullable": true
          },
          "company_website": {
            "type": "string",
            "nullable": true
          },
          "company_crunchbase_url": {
            "type": "string",
            "nullable": true
          },
          "company_directions_url": {
            "type": "string",
            "nullable": true
          },
          "company_industry": {
            "type": "string",
            "example": "Software development"
          },
          "company_industries": {
            "type": "string",
            "nullable": true
          },
          "company_industry_code": {
            "type": "string",
            "nullable": true
          },
          "company_type": {
            "type": "string",
            "example": "privately_held"
          },
          "company_organization_type": {
            "type": "string",
            "nullable": true
          },
          "company_founded": {
            "type": "string",
            "nullable": true
          },
          "company_founded_year": {
            "type": "integer",
            "example": 2022
          },
          "company_funding": {
            "type": "string",
            "nullable": true
          },
          "company_investors": {
            "type": "string",
            "nullable": true
          },
          "company_stock_info": {
            "type": "string",
            "nullable": true
          },
          "company_similar": {
            "type": "string",
            "nullable": true
          },
          "company_specialities": {
            "type": "string",
            "nullable": true
          },
          "company_employees": {
            "type": "string",
            "nullable": true
          },
          "company_employees_number": {
            "type": "string",
            "nullable": true
          },
          "company_employees_in_linkedin": {
            "type": "string",
            "nullable": true
          },
          "company_employees_range_start": {
            "type": "integer",
            "example": 11
          },
          "company_employees_range_end": {
            "type": "integer",
            "example": 50
          },
          "company_followers": {
            "type": "string",
            "nullable": true
          },
          "company_head_quarters_city": {
            "type": "string",
            "example": "Lyon"
          },
          "company_head_quarters_country": {
            "type": "string",
            "example": "France"
          },
          "company_headquarters": {
            "type": "string",
            "nullable": true
          },
          "company_address_street": {
            "type": "string",
            "nullable": true
          },
          "company_address_city": {
            "type": "string",
            "nullable": true
          },
          "company_address_state": {
            "type": "string",
            "nullable": true
          },
          "company_address_country": {
            "type": "string",
            "nullable": true
          },
          "company_address_zipcode": {
            "type": "string",
            "nullable": true
          },
          "company_formatted_locations": {
            "type": "string",
            "nullable": true
          },
          "company_country_code": {
            "type": "string",
            "nullable": true
          },
          "company_phone_number": {
            "type": "string",
            "nullable": true
          },
          "company_legal_id": {
            "type": "string",
            "nullable": true
          },
          "company_legal_name": {
            "type": "string",
            "nullable": true
          },
          "custom_fields": {
            "type": "array",
            "items": {},
            "example": []
          }
        }
      },
      "UnauthorizedError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Unauthorized"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
