{
  "openapi": "3.0.1",
  "info": {
    "title": "BetterContact API",
    "description": "The official BetterContact API to enrich your leads list",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://app.bettercontact.rocks/api/v2"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/async": {
      "post": {
        "description": "Create a new enrichment",
        "requestBody": {
          "description": "Data to enrich",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewLeadsEnrichment"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Enrichment task created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plant"
                }
              }
            }
          },
          "401": {
            "description": "Not authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/another-path": {
      "get": {
        "description": "Sample description for another path",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "NewLeadsEnrichment": {
        "type": "object",
        "properties": {
          "data": {
            "description": "Array of data to enrich",
            "type": "array"
          },
          "webhook": {
            "description": "Webhook to trigger",
            "type": "string"
          },
          "verify_catch_all": {
            "description": "Verification for catch all",
            "type": "boolean"
          },
          "enrich_phone_number": {
            "description": "Enrich phone number",
            "type": "boolean"
          },
          "process_flow": {
            "description": "Process flow identifier",
            "type": "string"
          }
        }
      },
      "Plant": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "api_key",
        "in": "query"
      }
    }
  }
}
